doctype html
html
  head
    title My Dance Acedmy
    block scripts
    block style
  body
    nav#navbar
         ul
             li #[a(href="/") Home]
             li #[a(href="/") About] 
             li #[a(href="/") Services] 
             li #[a(href="/") Class Info] 
             li #[a(href="/contact") Contact Us]

    block content
    footer#footer 
          | Copyright © 2024 PiyushAanand@DanceAcedmy.com All rights reserved  