extends base.pug

block scripts
  script(src='/static/index.js')

block style 
   style
      include ../static/style.css 

block content 
    section#introSection 
          div Welcome to My Dance Acedmy 
          div.small Eat Sleep Dance Repeat  
    section#missionSection 
          h2 Our Mission
          div.card 
               h3 Dance Perfection
                  div.card-box 
                     div.card-img 
                        img(src="../static/3.png")
                  div.card-content 
                        p This is the best Dance Platform.  
          div.card 
               h3 Dance the way you Like
                 div.card-box 
                     div.card-img 
                        img(src="../static/7.png")
                     div.card-content 
                        p Show Your Excellence in dancing. 
                            
          div.card 
               h3 Expert Teaching 
                  div.card-box 
                     div.card-img 
                        img(src="../static/8.png")
                     div.card-content 
                        p Learn Hip Hop , Techniques and many more.             
               
    section#sponsorSection 
          h2 Our Sponsors 
          div#sponsors 
               img(src="../static/apple.png" alt = "apple" class = "spimg")
               img(src="../static/fb.png" alt = "apple" class = "spimg")
               img(src="../static/skype.png" alt = "apple" class = "spimg")
               img(src="../static/hp.png" alt = "apple" class = "spimg")     

  
